/* Reset default margin and padding */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/* This code represents the body background color of entire webpage*/
body {
    background-color: white;
}

/* This code represents the white header at the top of the site nav bar */
.header {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    z-index: 9999;
}

/* This is my name displayed at the top left nav bar in black font that reads "Brenny Souza" */
.header h1 {
    font-size: 21px;
    color: black;
    margin: 15px;
}
  
/* This code represents the nav bar links at the top right of the nav bar */
.nav-bar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
  
.nav-bar ul li a {
    float: right;
    font-weight: 600;
    font-size: 16px;
    color: black;
    text-decoration: none;
    margin: 15px;
}

/* This code allows the nav bar links to remain black once clicked and accessed */
.nav-bar a:visited {
    color: black;
}

/* This code allows the nav bar links to glow cade blue as the user hovers over each
link before clicking */
.nav-bar a:hover {
    color: cadetblue;
}

.hero {
    position: relative;
    display: flex;
    flex-wrap: flex;
    background-size: cover;
    background-attachment: fixed;
    background-position: 40%;
    object-fit: cover;
}

.hero-img {
    height: 750px;
    width: 100%;
    object-fit: cover;
    margin-bottom: -2px;
    /* flex-wrap: flex; */
}

.hero h2 {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    position: absolute;
    top: 42%;
    left: 25%; 
    font-size: 40px;
    flex-wrap: flex;
}

.hero p {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    position: absolute;
    top: 49%;
    left: 25%; 
    font-size: 22px;
    flex-wrap: wrap;
}

.headshot {
    border: 3px solid #2d2e32;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    top: 33%;
    right: 30%; 
    position: absolute;
    object-fit: cover;
    flex-wrap: wrap;
}

h2, h3, h4{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

p, a {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

a {
    text-decoration: none;
}

a:hover {
    color: black;
}

.content {
    flex-wrap: flex;
    display: block;
 }

.about-me-section, .work-section, .contact-me-section {
    padding-bottom: 50px;
}


.about-me-title, .work-title, .contact-me-title {
    font-size: 25px;
    color: black;
    margin: 100px;
    padding-right: 55px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    flex-wrap: wrap;
    padding-left: 50px;
    padding-top: 50px;
}

.about-me-content, .work-content, .contact-content {
    padding-left: 100px;
}

.about-subtitle {
    font-size: 26px;
    font-weight: bold;
    color: cadetblue;
}

.about-me-content {
    display: block;
    padding-right: 480px;
}

.about-me-content p {
    font-size: 18px;
    text-align: justify;
    line-height: 23px;
}

.work-content {
    flex-wrap: wrap; 
    margin: 0 -40px ;
}

.work-content h3 {
    color: cadetblue;
    margin: 0 0 1px;
    margin-top: 50px;
}
  
.work-content {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: center; */
    /* margin: 0 auto; */
    flex-direction: row;
    width: 93%;
}

.img-prj1 {
    background-size: cover;
    width: 1120px;
    height: 750px;
    margin-bottom: 2%;
    /* border: 2px solid; */
    position: relative;
    margin-top: 20px;
}

.img-prj2,
.img-prj3,
.img-prj4,
.img-prj5 {
    background-size: cover;
    width: 520px;
    height: 320px;
    margin-bottom: 2%;
    /* border: 2px solid; */
    position: relative;
    margin-top: 20px;
}

.work-content {
    margin-top: -50px;
}


.img-prj1:hover,
.img-prj2:hover,
.img-prj3:hover,
.img-prj4:hover,
.img-prj5:hover {
  opacity: 50%;
}

.contact-content ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -12px;
}

.contact-content ul li a {
    margin: 15px
}

.contact-content a:hover {
    color: cadetblue;
}

.footer h3 {
    padding: 30px;
    text-align: center;    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    clear: both;
    margin-top: 100px;
}

@media screen and (max-width:768px) {
    
}

@media screen and (max-width:992px) {
    
}

@media screen and (min-width:1180px) {
.img-prj2,
.img-prj3,
.img-prj4,
.img-prj5 {
    
    width: 600px;
    height: 380px;
    margin-top: 20px;
}

.hero h2 {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    position: absolute;
    top: 42%;
    left: 30%; 
    font-size: 40px;
    flex-wrap: flex;
}

.hero p {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    position: absolute;
    top: 49%;
    left: 30%; 
    font-size: 22px;
    flex-wrap: wrap;
}

.headshot {
    border: 3px solid #2d2e32;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    top: 33%;
    right: 35%; 
    position: absolute;
    object-fit: cover;
    flex-wrap: wrap;
}
}
