/* Reset default margin and padding */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/* Body background color */
body {
    background-color: white;
}

.header {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    justify-content: space-between;
}

.header h1 {
    font-size: x-large;
}
  
#logo {
    margin-right: 10px; /* Add some spacing between the logo and the navigation */
}
  
#nav-bar ul {
    list-style-type: none; /* Remove the default bullet points */
    display: flex;
    align-items: center;
}
  
#nav-bar ul li a {
    margin-right: 25px; /* Add some spacing between the navigation links */
    text-decoration: none; /* Remove the underline from the links */
    float: right;
    font-weight: 600;
}

#nav-bar a:visited {
    color: black;
}

#nav-bar a:hover {
    color: cadetblue;
}

.hero {
    /* position: relative; */
    display: flex;
}

#hero-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-bottom: -450px;
}

.hero h2{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    position: absolute;
    top: 40%;
    left: 27%; 
    font-size: 50px;
}

.hero p {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    position: absolute;
    top: 54%;
    left: 27%; 
    font-size:larger;
}

#headshot {
    background-image: url(assets/images/headshot.jpg);
    border: 3px solid #2d2e32;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    display: flex;
    top: 37%;
    right: 32%; 
    position: absolute;
    object-fit: cover;
}

main {
    padding: 100px;
}

main h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: cadetblue;
}

main h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: black;
}

main p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 30px;
    display: flex;
}

.img-prj1, .img-prj2, .img-prj3, .img-prj4, .img-prj5 {
    height: 500px;
    width: 800px;
    background-size: contain;
    background-position: center;
}

.footer h3 {
    padding: 30px;
    text-align: center;    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

